In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Deputatskiy,RU,2020-05-28 19:12:15,69.30,139.90,30.78,98,100,5.39
1,1,Carnarvon,AU,2020-05-28 19:12:15,-24.87,113.63,64.60,64,0,11.34
2,2,Jamestown,US,2020-05-28 19:09:55,42.10,-79.24,71.01,94,90,5.82
3,3,Victoria,HK,2020-05-28 19:11:21,22.29,114.16,80.01,88,27,10.00
4,4,Albany,US,2020-05-28 19:08:38,42.60,-73.97,80.01,75,70,1.01

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Jamestown,US,2020-05-28 19:09:55,42.10,-79.24,71.01,94,90,5.82
3,3,Victoria,HK,2020-05-28 19:11:21,22.29,114.16,80.01,88,27,10.00
4,4,Albany,US,2020-05-28 19:08:38,42.60,-73.97,80.01,75,70,1.01
5,5,Puerto Ayora,EC,2020-05-28 19:12:15,-0.74,-90.35,80.60,69,75,10.29
7,7,Vaini,TO,2020-05-28 19:12:15,-21.20,-175.20,71.60,94,75,4.70
8,8,Zwedru,LR,2020-05-28 19:12:16,6.07,-8.13,75.83,95,100,4.14
13,13,Matara,LK,2020-05-28 19:12:16,5.95,80.54,79.27,88,100,16.24
16,16,Rio Grande,BR,2020-05-28 19:07:37,-32.03,-52.10,73.40,49,0,9.17
17,17,Iquique,CL,2020-05-28 19:12:17,-20.22,-70.14,71.60,60,40,8.05
18,18,Rikitea,PF,2020-05-28 19:12:17,-23.12,-134.97,76.71,85,4,8.03

In [13]:
preferred_cities_df.count()

City_ID       261
City          261
Country       261
Date          261
Lat           261
Lng           261
Max Temp      261
Humidity      261
Cloudiness    261
Wind Speed    261
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2      Jamestown      US     71.01  42.10  -79.24
3       Victoria      HK     80.01  22.29  114.16
4         Albany      US     80.01  42.60  -73.97
5   Puerto Ayora      EC     80.60  -0.74  -90.35
7          Vaini      TO     71.60 -21.20 -175.20
8         Zwedru      LR     75.83   6.07   -8.13
13        Matara      LK     79.27   5.95   80.54
16    Rio Grande      BR     73.40 -32.03  -52.10
17       Iquique      CL     71.60 -20.22  -70.14
18       Rikitea      PF     76.71 -23.12 -134.97

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Jamestown,US,71.01,42.10,-79.24,Hampton Inn & Suites Jamestown
3,Victoria,HK,80.01,22.29,114.16,Mini Hotel Central
4,Albany,US,80.01,42.60,-73.97,
5,Puerto Ayora,EC,80.60,-0.74,-90.35,Finch Bay Galapagos Hotel
7,Vaini,TO,71.60,-21.20,-175.20,Keleti Beach Resort
8,Zwedru,LR,75.83,6.07,-8.13,Elijah Worjloh
13,Matara,LK,79.27,5.95,80.54,Amaloh Boutique Resort
16,Rio Grande,BR,73.40,-32.03,-52.10,Swan Express Rio Grande
17,Iquique,CL,71.60,-20.22,-70.14,Backpacker`s Hostel Iquique
18,Rikitea,PF,76.71,-23.12,-134.97,Pension Maro'i

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))